In [1]:
import pandas as pd

In [3]:
pokemons = pd.read_csv("Pokemon.csv", index_col="#")
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [5]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

In [6]:
pokemons.describe().round(2)

        Total      HP  Attack  Defense  Sp. Atk  Sp. Def   Speed  Generation
count  800.00  800.00  800.00   800.00   800.00   800.00  800.00      800.00
mean   435.10   69.26   79.00    73.84    72.82    71.90   68.28        3.32
std    119.96   25.53   32.46    31.18    32.72    27.83   29.06        1.66
min    180.00    1.00    5.00     5.00    10.00    20.00    5.00        1.00
25%    330.00   50.00   55.00    50.00    49.75    50.00   45.00        2.00
50%    450.00   65.00   75.00    70.00    65.00    70.00   65.00        3.00
75%    515.00   80.00  100.00    90.00    95.00    90.00   90.00        5.00
max    780.00  255.00  190.00   230.00   194.00   230.00  180.00        6.00

In [7]:
pokemons.describe(exclude=["int","float"])

                       Name Type 1  Type 2 Legendary
count                   800    800     414       800
unique                  800     18      18         2
top     PumpkabooSuper Size  Water  Flying     False
freq                      1    112      97       735