In [14]:
import pandas as pd

In [15]:
pokemons = pd.read_csv("Pokemon.csv", index_col="#")
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
pokemons["Legendary"] = pokemons["Legendary"].map({False:"No", True : "Yes"})
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,Yes
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,Yes
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,Yes
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,Yes
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,Yes

In [17]:
pokemons["Generation"].map({1:"First"})

#
1      First
2      First
3      First
3      First
4      First
       ...
719      NaN
719      NaN
720      NaN
720      NaN
721      NaN
Name: Generation, Length: 800, dtype: object

In [18]:
pokemons.applymap(type)

C:\Users\sanja\AppData\Local\Temp\ipykernel_16264\3995187951.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pokemons.applymap(type)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
2,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
3,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
3,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
4,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...,...
719,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
719,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
720,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
720,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>
721,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>

In [19]:
def uppercase(var:str) -> str:
    return var.upper()

In [20]:
pokemons = pokemons.applymap(str)
pokemons

C:\Users\sanja\AppData\Local\Temp\ipykernel_16264\1655764019.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pokemons = pokemons.applymap(str)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No
4,Charmander,Fire,nan,309,39,52,43,60,50,65,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,Yes
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,Yes
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,Yes
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,Yes
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,Yes

In [21]:
pokemons = pokemons.applymap(uppercase)
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      800 non-null    object
 3   Total       800 non-null    object
 4   HP          800 non-null    object
 5   Attack      800 non-null    object
 6   Defense     800 non-null    object
 7   Sp. Atk     800 non-null    object
 8   Sp. Def     800 non-null    object
 9   Speed       800 non-null    object
 10  Generation  800 non-null    object
 11  Legendary   800 non-null    object
dtypes: object(12)
memory usage: 81.2+ KB

C:\Users\sanja\AppData\Local\Temp\ipykernel_16264\1088378696.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pokemons = pokemons.applymap(uppercase)

In [22]:
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,BULBASAUR,GRASS,POISON,318,45,49,49,65,65,45,1,NO
2,IVYSAUR,GRASS,POISON,405,60,62,63,80,80,60,1,NO
3,VENUSAUR,GRASS,POISON,525,80,82,83,100,100,80,1,NO
3,VENUSAURMEGA VENUSAUR,GRASS,POISON,625,80,100,123,122,120,80,1,NO
4,CHARMANDER,FIRE,NAN,309,39,52,43,60,50,65,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
719,DIANCIE,ROCK,FAIRY,600,50,100,150,100,150,50,6,YES
719,DIANCIEMEGA DIANCIE,ROCK,FAIRY,700,50,160,110,160,110,110,6,YES
720,HOOPAHOOPA CONFINED,PSYCHIC,GHOST,600,80,110,60,150,130,70,6,YES
720,HOOPAHOOPA UNBOUND,PSYCHIC,DARK,680,80,160,60,170,130,80,6,YES
721,VOLCANION,FIRE,WATER,600,80,110,120,130,90,70,6,YES

In [23]:
pokemons.applymap(len)

C:\Users\sanja\AppData\Local\Temp\ipykernel_16264\4254828965.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pokemons.applymap(len)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,9,5,6,3,2,2,2,2,2,2,1,2
2,7,5,6,3,2,2,2,2,2,2,1,2
3,8,5,6,3,2,2,2,3,3,2,1,2
3,21,5,6,3,2,3,3,3,3,2,1,2
4,10,4,3,3,2,2,2,2,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
719,7,4,5,3,2,3,3,3,3,2,1,3
719,19,4,5,3,2,3,3,3,3,3,1,3
720,19,7,5,3,2,3,2,3,3,2,1,3
720,18,7,4,3,2,3,2,3,3,2,1,3
721,9,4,5,3,2,3,3,3,2,2,1,3