In [1]:
import pandas as pd

In [2]:
cols = ["Series_Title", "IMDB_Rating", "No_of_Votes"]

In [3]:
movies = pd.read_csv("imdb_top_1000.csv", usecols=cols)
movies

                 Series_Title  IMDB_Rating  No_of_Votes
0    The Shawshank Redemption          9.3      2343110
1               The Godfather          9.2      1620367
2             The Dark Knight          9.0      2303232
3      The Godfather: Part II          9.0      1129952
4                12 Angry Men          9.0       689845
..                        ...          ...          ...
995    Breakfast at Tiffany's          7.6       166544
996                     Giant          7.6        34075
997     From Here to Eternity          7.6        43374
998                  Lifeboat          7.6        26471
999              The 39 Steps          7.6        51853

[1000 rows x 3 columns]

In [4]:
movies["IMDB_Rating"]

0      9.3
1      9.2
2      9.0
3      9.0
4      9.0
      ...
995    7.6
996    7.6
997    7.6
998    7.6
999    7.6
Name: IMDB_Rating, Length: 1000, dtype: float64

In [5]:
movies[["IMDB_Rating", "No_of_Votes"]]

     IMDB_Rating  No_of_Votes
0            9.3      2343110
1            9.2      1620367
2            9.0      2303232
3            9.0      1129952
4            9.0       689845
..           ...          ...
995          7.6       166544
996          7.6        34075
997          7.6        43374
998          7.6        26471
999          7.6        51853

[1000 rows x 2 columns]

In [7]:
movies["Wached"] = False

In [8]:
movies["Wached"]

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Wached, Length: 1000, dtype: bool

In [9]:
movies.insert(loc=2, column="My_Rating", value=None)
movies

                 Series_Title  IMDB_Rating My_Rating  No_of_Votes  Wached
0    The Shawshank Redemption          9.3      None      2343110   False
1               The Godfather          9.2      None      1620367   False
2             The Dark Knight          9.0      None      2303232   False
3      The Godfather: Part II          9.0      None      1129952   False
4                12 Angry Men          9.0      None       689845   False
..                        ...          ...       ...          ...     ...
995    Breakfast at Tiffany's          7.6      None       166544   False
996                     Giant          7.6      None        34075   False
997     From Here to Eternity          7.6      None        43374   False
998                  Lifeboat          7.6      None        26471   False
999              The 39 Steps          7.6      None        51853   False

[1000 rows x 5 columns]